body, * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    padding: 0 200px;
    height: 600px;

}

.top {
    margin-bottom: 120px;
    padding-top: 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex: 1;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}



.middle {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.meow, .img {
    flex: 1;
}

img {
    min-width: 50px;
    max-width: 450px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h2, .links {
    font-size: 18px;
    color: #c7c8c9;
    font-weight: lighter;
}

button {
    border-radius: 10px;
    border: none;
    margin-top: 16px;
    padding: 8px 32px;
    background-color: #3882F6;
    color: white;
}